<html>
<head>
  <title>ExpressJS test 2</title>
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
  <div>Hello template!</div>
  <div>{{last}}</div>
  <script src="js/main.js"></script>
</body>
</html>
